<%= image_tag("karma-paksi.png", :id => 'karma_paksi_image') %>
<h1><%= t 'activerecord.controllers.static_pages.karma_paksi.title'%></h1>
<h4><%= t 'activerecord.controllers.static_pages.karma_paksi.subtitle'%></h4>
<p><%= t 'activerecord.controllers.static_pages.karma_paksi.description'%></p>
