<p id="notice"><%= notice %></p>

<p>
  <b>Registration date:</b>
  <%= @registration.registration_date %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
